<div class="container text-center">
  <h1>Welcome back!</h1>
  <br />
  <br />


  <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="../../assets/leaf.png" style="width: 180px;" >
              <h5 class="card-title">List of Products Avaible</h5>
              <p class="card-text">All vegan products avaible</p>
              <a href="#" class="btn btn-success" routerLink="/products">Products</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="../../assets/kreas1.png" style="width: 180px;">
              <h5 class="card-title">User Area</h5>
              <p class="card-text">Your personal Area where you can check your cart and the products!</p>
              <a href="#" class="btn btn-info" routerLink="/userArea">Your Profile</a>
            </div>
          </div>
        </div>
      </div>

  


  <br>

</div>
