<div style="text-align: center">
  <!-- <nav class="navbar navbar-light float-md-end" style="background-color: #E84C3A;">
    <a class="navbar-brand" routerLink="/homePage">Home</a>
  </nav> -->
  <!-- <nav class="navbar" style="background-color: #dd2727;">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" routerLink="/homePage">Kreas</a>
   
   
    </div>
  </nav> -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/homePage">
        <img src="../../assets/leaf.png" alt="" width="30" height="24" class="d-inline-block align-text-top"> <strong> KRÉAS</strong> </a>
    </div>
  </nav>

  <img src="../../assets/kreaslogo2.png" class="img-fluid" style="width: 900px;">

</div>
<br>
<router-outlet></router-outlet>
