<div class="container">


  


  <div class="row align-items-center">
    

    <div class="col-sm-6 align-items-center">
      <div class="card ">
        <div class="card-body d-flex flex-column align-items-center">
            <img class="card-img-top" src="../../assets/Thank you.png" style="width: 500px;">
          <img class="card-img-top" src="../../assets/grocery_bag.png" style="width: 200px;">
          <h5 class="card-title">You can check here your orders!</h5>
          <a href="#" class="btn btn-success" routerLink="/orders">Orders</a>
        </div>
      </div>
      
    </div>

    
    <div class="col-sm-6 align-items-center">
      <div class="card ">
        <div class="card-body d-flex flex-column align-items-center">
            <img class="card-img-top" src="../../assets/back_to_products.png" style="width: 500px;">
          <img class="card-img-top" src="../../assets/leaf.png" style="width: 100px;">
          <h5 class="card-title">You can check here the products!</h5>
          <a href="#" class="btn btn-success" routerLink="/orders">Orders</a>
        </div>
      </div>
      
    </div>




  </div>

</div>







